<h1>New Requests</h1>

<%= form_tag(submit_leave_requests_path, method: "post") do %>
  <%= hidden_field_tag(:leave_request_id, @leave_request_id) %>
  <p>Employee:
    <%= select_tag(:employee_id, options_from_collection_for_select(@employees, :id, :name)) %>
  </p>
  <p>Category:
    <%= select_tag(:category_id, options_from_collection_for_select(@categories, :id, :name)) %>
  </p>
  <p>Duration:
    <input type='text' name='duration' class='duration' />
  </p>
  <div style='display: none' class='leave_dates'>
    <p>Dates:</p>
    <div class='leave_dates_list' style='margin: 0 0 15px 15px'>
    </div>
  </div>

  <%= submit_tag("Submit", class: "btn btn-primary") %>
  <%= link_to 'Back', leave_requests_path, class: "btn btn-default" %>
<% end %>

<script>
  $(function() {
    $('input.duration').daterangepicker({
      "locale": {
        "format": "DD/MM/YYYY"
      }
    }, function(start, end, label) {
      $.ajax(
        {
          'url': '<%= escape_javascript(change_duration_leave_request_url(id: @leave_request_id)) %>',
          'data': {
            'from': start.format('DD/MM/YYYY'),
            'to': end.format('DD/MM/YYYY'),
            'authenticity_token': '<%= form_authenticity_token %>'
          },
          'method': 'POST',
          'success': function(data) {
            $('.leave_dates').show()
            $('.leave_dates_list').empty()
            data.forEach(function(leave_date) {
              dateInput = document.createElement('input')
              dateInput.value = leave_date['date']
              dateInput.name = 'leave_dates[][date]'
              dateInput.type = 'text'
              dateInput.style = 'pointer-events:none'
              hoursInput = document.createElement('input')
              hoursInput.value = leave_date['hours']
              hoursInput.name = 'leave_dates[][hours]'
              hoursInput.type = 'number'
              hoursInput.step = 0.1
              newItem = document.createElement('div')
              newItem.append(dateInput, ": ", hoursInput, " hours")
              $('.leave_dates_list').append(newItem)
            })
          }
        }
      )
    });
  });
</script>
